.cp-logo {
  width: 2rem;
  height: auto;
}

.app-header {
  background-color: rgb(73, 161, 167);
}

.secondary {
  color: rgb(32, 79, 85);
}

.nav-link, .nav-link i {
  color: rgb(73, 161, 167);
  font-size: small;
}

.nav-item {
  margin-left: 15px;
}