*

.cp-logo {
  width: 2rem;
  height: auto;
}

.app-header {
  background-color: rgb(73, 161, 167);
}

.secondary {
  color: rgb(32, 79, 85);
}

.nav-link, .nav-link i {
  color: rgb(73, 161, 167);
  font-size: small;
}

.nav-item {
  margin-left: 15px;
}

.logout {
  cursor: pointer;
}

.title {
  color : rgb(73, 161, 167);
}

.hr {
  width: 100%;
  height: 1px;
  border: 1px #d7d7d7 solid;
  margin-bottom: 30px;
}

.image-product {
  width: 114px;
}

.product {
  margin: 20px 35px;
  width: 114px;
  cursor: pointer;
}

.product-title {
  color : rgb(73, 161, 167);
}

.card-header:not(.bg-light) {
  height: 47px;
  background-color: rgb(252, 223, 89);
  vertical-align: middle;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

.btn-research {
  background-color: rgb(73, 161, 167);
  border: 0px;
  color: white;
  width: 110px;
  border-radius: 5px;
  float: right;
}

.form-input {
  display: block;
  border: #a7a7a7 2px solid;
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
}

.form-group {
  margin-top: 20px;
}

.form-login button{
  margin-top: 20px;
  background-color: rgb(73, 161, 167);
  color: white;
}

.form-login button:hover{
  color: rgb(73, 161, 167);
  border-color: rgb(73, 161, 167);
}

.image-login {
  width: 250px;
}

.login-page {
  padding-top: 100px;
}

.card-login .card-header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #35959e;
}

.card-login {
  width: 800px;
  margin: auto;
}

.bg-cashplus {
  min-height: 100vh;
}

#userdata-image {
  width: 100%;
}

.userdata {
  text-align: center;
}